    <footer>
      <ul>
        <li>
          <a href="#" rel="noopener" target="_blank" title="Slack">
            <svg title="Slack"><use xlink:href="#icon-slack"></use></svg>
            <span>Slack</span>
          </a>
        </li>
        <li>
          <a href="//instagram.com/RedeemerMadison" rel="noopener" target="_blank" title="Instagram">
            <svg title="Instagram"><use xlink:href="#icon-insta"></use></svg>
            <span>Instagram</span>
          </a>
        </li>
        <li>
          <a href="//twitter.com/RedeemerMadison" rel="noopener" target="_blank" title="Twitter">
            <svg title="Twitter"><use xlink:href="#icon-twitter"></use></svg>
            <span>Twitter</span>
          </a>
        </li>
        <li>
          <a href="mailto:%69%6e%66%6f%40%72%65%64%65%65%6d%65%72%63%69%74%79%63%68%75%72%63%68%2e%6f%72%67" rel="noopener" target="_blank"
            title="Email">
            <svg title="Email"><use xlink:href="#icon-email"></use></svg>
            <span>Email</span>
          </a>
        </li>
      </ul>
    </footer>
