---
name: header
---
    <header>
      <nav>
        <ul>
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#services">Gatherings</a>
          </li>
          <li>
            <a href="#sermon">Sermons</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
          <li>
            <a href="#giving">Giving</a>
          </li>
        </ul><a href="#">&#8593;</a>
      </nav>
      <h1>Redeemer City Church</h1>
      <svg title="Skyline Logo"><use xlink:href="#logo"></use></svg>
      <p>Seeking the renewal of the Fitchburg/Madison area through the Gospel</p>
    </header>
