# config.yml

backend:
  name: github
  repo: zmcandee/RedeemerCityChurch
  branch: master
  base_url: https://gh-oauth-gateway.appspot.com
media_folder: 'assets/uploads'
collections:
  - name: 'sermons'
    label_singular: 'Sermon'
    label: 'Sermons'
    folder: '_sermons/'
    create: true
    slug: sermon-{{year}}{{month}}{{day}}
    summary: '{{pubdate}} [{{series}}] {{title}}'
    fields:
      - { name: title, label: Title, widget: string }
      - { name: series, label: Series, widget: list, allow_add: true }
      - name: audio 
        label: Audio 
        widget: object 
        fields: 
          - { name: file, label: File, widget: file }
            { name: duration, label: Duration, widget: number, valueType: int, min: 0 } 
      - { name: image, label: Image, required: false, widget: image, allow_multiple: false }
      - { name: uuid, label: UUID, required: false, widget: string }
      - { name: pubdate, label: Date, widget: datetime, timeFormat: false, dateFormat: 'YYYY-MM-DD', format: 'YYYY-MM-DD' }
      - { name: body, label: Description, widget: markdown }
