# config.yml

backend:
  name: github
  repo: zmcandee/RedeemerCityChurch
  branch: master
  base_url: https://gh-oauth-gateway.appspot.com
media_folder: 'assets/uploads'
collections:
  - name: 'sermons'
    label_singular: 'Sermon'
    label: 'Sermons'
    folder: '_sermons/'
    create: true
    slug: sermon-{{year}}{{month}}{{day}}
    summary: '{{pubdate}}-[{{series}}] {{title}}'
    fields:
      - { name: title, label: Title, widget: string }
      - { name: series, label: Series, widget: string }
      - { name: audio, label: Audio Link, widget: string }
      - { name: image, label: Image Link, required: false, widget: string }
      - { name: uuid, label: UUID, required: false, widget: string }
      - { name: pubdate, label: Date, widget: date }
      - { name: body, label: Description, widget: markdown }
