# config.yml

backend:
  name: github
  repo: zmcandee/RedeemerCityChurch
  branch: master
  base_url: https://gh-oauth-gateway.appspot.com
media_folder: 'assets/uploads'
public_folder: '/RedeemerCityChurch/assets/uploads'
publish_mode: editorial_workflow
collections:
  - name: 'sections'
    label: 'Sections'
    label_singular: 'Section'
    folder: '_includes/'
    extension: html
    identifier_field: name
    slug: '{{ name }}'
    fields:
      - { name: name, label: Name, widget: string }
      - { name: body, label: Code, widget: markdown }
  - name: 'leaders'
    label: 'Leaders'
    label_singular: 'Leader'
    folder: '_leaders/'
    create: true
    identifier_field: name
    summary: '{{name}}-{{role}}'
    fields:
      - { name: name, label: Name, widget: string }
      - { name: email, label: Email, required: false, widget: string }
      - { name: role, label: Role, widget: string }
      - { name: image, label: Picture, required: false, widget: image, allow_multiple: false }
      - { name: display, label: Show on main page, widget: boolean }
      - { name: body, label: Description, widget: markdown }
  - name: 'sermons'
    label_singular: 'Sermon'
    label: 'Sermons'
    folder: '_sermons/'
    create: true
    slug: sermon-{{year}}{{month}}{{day}}
    summary: '{{pubdate}} [{{series}}] {{title}}'
    fields:
      - { name: title, label: Title, widget: string }
      - { name: series, label: Series, widget: string }
      - name: audio 
        label: Audio 
        widget: object 
        fields: 
          - { name: file, label: File, widget: file }
          - { name: duration, label: Duration, widget: number, valueType: int, min: 0 } 
      - { name: image, label: Image, required: false, widget: image, allow_multiple: false }
      - { name: uuid, label: UUID, required: false, widget: string }
      - { name: pubdate, label: Date, widget: datetime, timeFormat: false, dateFormat: 'YYYY-MM-DD', format: 'YYYY-MM-DD' }
      - { name: body, label: Description, widget: markdown }
